
body{
  color: white;
  background-color: #730E15;
  margin: 0px;
  padding: 0px;
  font-family: 'Righteous', cursive;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}
header{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 51px;
  width: 100%;
  background: black;
}
.nav-btn{
  margin-right:7rem ;
}
.logo{
  cursor: pointer;
  width: 11rem;
}
.nav-area{
  list-style: none;
  margin-left: -130px;
}
.nav-area li{
  display: inline-block;
  padding: 0px 63px;
  text-transform: uppercase;
}
.nav-area li a{
  transition: all .3s ease 0s;
  color: #fff;
}
.right-space{
  margin-left: 8rem;
}
.top-space{
  margin-top: 2rem;
}
.nav-area li a:hover{
  color: #006C87;
}
.btn-area {
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 11px;
  border-radius: 7px;
  background: #36a1bb;
}

.nav-main{
  width: 100%;
  position: fixed;
  background-color: black;
  align-items: center;
  height: 47px;
  z-index: 10;
  text-align: center;
}

.navbar{
  display: inline;
  font-size: 20px;

}
.container{
  position: absolute;
  margin: 0px 96px;
  padding: 0px 126px;
  width: 67%;
  border-radius: 48px;
  text-align: center;
 }
.container_in li{
 text-decoration: none;
}
.navbar li{
  display: inline;
}

.msg{
  text-align: center;
  display: inline-flex;
  width: 55%;
  margin: 0 21rem;
  height: 4rem;
}
.msg p{
  margin-left: 262px;
}
.down{
  margin: 6rem 4rem;
}
.on-logout{
  margin-left: 5rem;
}
.white a{
  color: white;
}
.form-group input{
  background-color: black;
  font-family: 'Righteous', cursive;
  color: #36a1bb;;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 20px;
  margin: 11px 0px;
  padding: 2px 2px;
  border: 2px solid #36a1bb;;
  border-radius: 9px;

}
.navbar li a{
  color: white;
  text-decoration: none;
  padding: 2px 61px;
}
.navbar li a:hover, .navbar li a.active{
  text-decoration: none;
  color: rgb(255,215,0);
}
.btn{
  margin: 0px 1px;
  color: white;
  background-color: black;
  padding: 4px 5px;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-family: 'Righteous', cursive;
}
.btn:hover{
  background-color: white;
  color: black;
  border: 2px solid rgb(255,215,0);
}

.container_in
{
  display: inline-block;
  border-radius: 2rem;
  width: 88%;
  height: 151px;
  padding: 1rem 3rem;
  margin: .5rem 0rem;
  background: linear-gradient(45deg, black, transparent);

}


.footer {
  position: fixed;
  height: 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}
.footer h5{
 color: white;
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
}