body{
  color: white;
  background-color: #730E15;
  margin: 0px;
  padding: 0px;
  font-family: 'Righteous', cursive;
  //background: url(gym.jpg);
  background-repeat: no-repeat;
  background-size: 1350px 1000px;
}

.nav-main{
  width: 100%;
  position: fixed;
  background-color: black;
  align-items: center;
  height: 47px;
  z-index: 10;
  text-align: center;
}

.left{
  position: absolute;
  display: inline-block;
  cursor: pointer;
  left: 34px;
  top: 12px;
}
.lefi{
  text-align: center;

}
.lefi a{
  font-family: 'Righteous', cursive;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-shadow: 5px 1px 5px rgba(255, 208, 0, 1);
}
.left img{
  width: 60px;
  margin: 0px 19px;
}
.mid{
  display: block;
  width: 25%;
  margin: 0px auto;
  height: 3rem;
}
.right{
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 12px;
}
.navbar{
  display: inline;
  font-size: 20px;

}
.container{
  position: absolute;
  margin: 0px 96px;
  padding: 0px 153px;
  width: 67%;
  border-radius: 48px;
  text-align: center;
 }
.container_in li{
 text-decoration: none;
}
.navbar li{
  display: inline;

}
.msg{
  text-align: center;
  display: inline-flex;
  width: 55%;
  margin: 0 21rem;
  margin-top: 4rem;
  height: 4rem;
}
.msg p{
  margin-left: 277px;;
}
.down{
  margin: 6rem 5rem;
}
.form-group input{
  background-color: black;
  font-family: 'Righteous', cursive;
  color: rgb(255,215,0);
  text-align: center;
  display: block;
  width: 100%;
  font-size: 20px;
  margin: 11px 0px;
  padding: 2px 2px;
  border: 2px solid rgb(255,215,0);
  border-radius: 9px;

}
.navbar li a{
  color: white;
  text-decoration: none;
  padding: 2px 61px;
}
.navbar li a:hover, .navbar li a.active{
  text-decoration: none;
  color: rgb(255,215,0);
}
.btn{
  margin: 0px 1px;
  color: white;
  background-color: black;
  padding: 4px 5px;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-family: 'Righteous', cursive;
}
.btn:hover{
  background-color: white;
  color: black;
  border: 2px solid rgb(255,215,0);
}

.container_in
{
  display: inline-block;
  border-radius: 2rem;
  width: 88%;
  height: 151px;
  padding: 1rem 3rem;
  margin: .5rem 0rem;
  background: linear-gradient(45deg, black, transparent);

}


.footer {
  position: fixed;
  height: 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}
.footer h5{
 color: white;
  text-align: center;
  margin: auto;
  margin-top: 0.5rem;
}